/*-----------------------------------------------------------------------------------*/
/*  Custom Table
/*-----------------------------------------------------------------------------------*/
table.wolf-custom-table {
  border-collapse: collapse;
  border-spacing: 0;
}

table.wolf-custom-table {
  width: 98%;
  margin: 40px 0;
  border: 1px solid #b3b3b3;
  border-bottom: none;
}

table.wolf-custom-table th, table.wolf-custom-table tr {
  min-height: 40px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
}

table.wolf-custom-table thead {
  border: 2px solid #000;
}

table.wolf-custom-table thead th {
  border-bottom: 4px solid #4d4d4d;
  background: #151920;
  color: white;
  line-height: 50px;
  height: 35px;
  font-size: 15px;
}

table.wolf-custom-table tbody tr {
  vertical-align: middle;
  border: 1px solid #DADADA;
}

table.wolf-custom-table tbody tr:nth-child(2n+1) td {
  background-color: #f7f7f7;
}

#sortable tr {
  height: 40px;
  width: 100%;
}

.state-highlight {
  background-color: #ff0;
}

img.hastip, .action-icon {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.move {
  cursor: move;
}

#loader {
  vertical-align: middle;
  margin: 8px 15px;
  float: left;
  display: none;
}